@media only screen and (max-width: 600px) {
  h1 {
    background-color: lightblue;
    font-size: 2em;
  }
}

body{
  width: 100%;
  height: 100%;
  margin:0;
  overflow:hidden;
  outline: black solid 10px;
  /* outline-offset: -10px; */
}

.video {

}

/* Create two unequal columns that floats next to each other */
.chat {
  position: absolute;
  width: 300px;
  bottom: 1px;
  right: 1px;
  height: 100%;
}
